<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Desktop</title>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

  <div id="map"></div>

  <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="/bower_components/moment/min/moment.min.js"></script>
  <!-- Mock Data = data.js -->
  <script src="/app/data.js"></script>
  <script src="/app/heatmap.js"></script>
  <script src="/app/leaflet-heatmap.js"></script>
  <script src="/app/app.js"></script>


</body>
</html>

