<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Desktop</title>
  <style>
/*    .state {
      fill: steelblue;
    }*/
    .place,
    .place-label {
      fill: #444;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 12px;
    }
  </style>
</head>
<body>

  <div id="chart">
  <script src="/bower_components/d3/d3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="/styles/styles.css"></script>
  <script src="/app/app.js"></script>
  <script>
    var width = 960,
        height = 1160;
    var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);
    d3.json("/subunits/hawaii_topojson.json", function(error, hawaii) {
      // console.log(hawaii);
      // Convert back to GeoJSON:
      var subunits = topojson.feature(hawaii, hawaii.objects.subunits);
      // Define the projection:
      // Oahu only:
       var projection = d3.geo.albers()
        .center([0, 21.1])
        .rotate([157.9, 0])
        .parallels([15, 25])
        .scale(50000)
        .translate([width / 2, height / 2]);
      // Define path generator:
      var path = d3.geo.path()
        .projection(projection)
        .pointRadius(2);
      // Add state path:
      svg.append("path")
        .datum(subunits)
        .attr("class", "state")
        .attr("d", path);
      // Add places
      svg.append("path")
        .datum(topojson.feature(hawaii, hawaii.objects.places))
        .attr("d", path)
        .attr("class", "place");
      // Add place labels:
      svg.selectAll(".place-label")
          .data(topojson.feature(hawaii, hawaii.objects.places).features)
        .enter().append("text")
          .attr("class", "place-label")
          .attr("transform", function(d) { return "translate(" + projection(d.coordinates) + ")"; })
          .attr("dy", ".35em")
          .text(function(d) { return d.properties.name; });
      // Align labels depending on what side of map they're on:
      var leftPointingCityLabels = ['Wahiawa', 'Kailua-Kona'];
      svg.selectAll(".place-label")
        .attr("x", function(d) {
          var offset = 6;
          return _.contains(leftPointingCityLabels, d.properties.name) ? -offset : offset;
        })
        .style("text-anchor", function(d) {
          return _.contains(leftPointingCityLabels, d.properties.name) ? "end" : "start";
        });
    });


  </script>
</body>
</html>

